<table>
  <!-- headers -->
  <tr class="header">
    <th
      *ngFor="let header of columnDefinitions"
      [ngStyle]="{
        cursor: header.sortable ? 'pointer' : 'default'
      }"
      (click)="
        sortByHeader(header, columnStateDictionary[header.propertyKey].sortBy)
      "
    >
      {{ header.headerName }}
      <span>{{ columnStateDictionary[header.propertyKey].sortBy }}</span>
      <!-- <mat-icon>arrow_right_alt</mat-icon> -->
    </th>
  </tr>

  <!-- data -->
  <tr
    class="rowData"
    *ngFor="let data of rowData"
    (click)="onRowClick(data)"
    [ngClass]="{
      selectedRow: data.isSelected
    }"
  >
    <th
      *ngFor="let column of columnDefinitions"
      (click)="onCellClicked(column, input.value)"
      [ngClass]="{
        selectedCell: data.isSelected && column.isSelected
      }"
    >
      <input
        #input
        type="text"
        [disabled]="!column.editable"
        [value]="data[column.propertyKey]"
        [style.width.px]="column.width"
        (change)="onCellValueChanged(column.propertyKey, input.value)"
      />
    </th>
  </tr>
</table>
